{% extends "base.html" %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock css_styles %}

{% block page_title %} Přihlášení se nepovedlo {% endblock page_title %}

{% block body_class %}login{% endblock body_class %}

{% block content %}

    <div class="error-message">
        <h2>Přihlášení se nepovedlo</h2>
        <p>Uživatelské jméno nebo heslo je špatně.</p>
        <a href="/users/">Zkusit znovu</a>
    </div>

{% endblock content %}

{% block js_scripts %}

<script src="{% static "login.js" %}"></script>

{% endblock js_scripts %}