{% extends "base.html" %}
{% load static %}

{% block page_title %}Domovská stránka{% endblock page_title %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
{% endblock css_styles %}

{% block body_class %}home{% endblock body_class %}

{% block content %}

    <div class="home_header">
        <h2>Vítejte v rodinné databázi obrazů</h2>
        <p>Zde můžete prohlížet a upravovat obrazy z rodinného alba.</p>
    </div>

    <div class="home_content">
        {% if user.is_authenticated %}
            <div class="content_item">
                <div class="img_container">
                    <a href="/obrazy/"><img src="{% static "/images/background2.png" %}" alt=""></a>
                </div>
        
                <div class="text_container">
                    <a href="/obrazy/" class="h3">Přehled obrazů</a>
                    <p>Zde můžete prohlížet všechny obrazy z rodinného alba. Můžete je filtrovat podle různých kritérií a zobrazit detaily o každém z nich.</p>
                </div>
            </div>
        
            <div class="content_item">
                <div class="img_container">
                    <a href="/obrazy/novy/"><img src="{% static "/images/background3.png"%}" alt=""></a>
                </div>
        
                <div class="text_container">
                    <a href="/obrazy/novy/" class="h3">Přidat obraz</a>
                    <p>Zde můžete přidat nový obraz do rodinného alba. Vyplňte formulář a nahrajte fotografii, kterou chcete přidat.</p>
                </div>
            </div>
        {% else %}
            <div class="content_item">
                <div class="img_container">
                    <a href="/users/"><img src="{% static "/images/background4.jpg" %}" alt=""></a>
                </div>
        
                <div class="text_container">
                    <a href="/ucet/prihlaseni/" class="h3">Přihlášení</a>
                    <p>Pro prohlížení a úpravu obrazů se musíte přihlásit. Pokud nemáte účet, můžete si ho zde vytvořit.</p>
                </div>
            </div>
        {% endif %}
    
        {% if user.is_superuser %}
            <div class="content_item">
                <div class="img_container">
                    <a href="/admin/"><img src="{% static "/images/background4.jpg" %}" alt=""></a>
                </div>
    
                <div class="text_container">
                    <a href="/admin/" class="h3">Administrace</a>
                    <p>Zde můžete spravovat uživatele, obrazy a další data v databázi. Můžete měnit a mazat záznamy a provádět další úkony.</p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}