{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_styles %}{% endblock css_styles %}
    <link rel="icon" href="{% static "canvas.ico" %}">
    <title>{% block page_title %} Neznámá stránka {% endblock %} | Rodinná databáze obrazů</title>
</head>
<body class="{% block body_class %}{% endblock body_class %}">

    <header>
        <h1><a href="/">Rodinná databáze obrazů</a></h1>

        {% if user.is_authenticated %}
            <nav>
                <a href="/">Domů</a>
                <a href="/obrazy/">Přehled obrazů</a>
                <a href="/obrazy/novy/">Přidat obraz</a>
                <a href="/users/logout/">Odhlásit</a>
                {% if user.is_superuser %}
                    <a href="/admin/">Admin</a>
                {% else %}
                    <p>{{ user.username }}</p>
                {% endif %}
            </nav>
        {% else %}
            <nav>
                <a href="/users/">Přihlásit</a>
            </nav>
        {% endif %}
            
    </header>

    {% block content %}

    {% endblock  %}

    <footer>
        <p>&copy; 2024 - Rodinná databáze obrazů</p>
    </footer>

    {% block js_scripts %}{% endblock js_scripts %}
</body>
</html>