{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_title %}Seznam autorů{% endblock page_title %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock css_styles %}

{% block body_class %}seznam_autoru{% endblock body_class %}

{% block content %}
    
    {% if user|has_group:"Editoři" %}
        <div class="link_container">
            <a href="/autori/new/" class="link">
                <button>
                    <i class="fas fa-plus"></i>
                    Přidat autora
                </button>
            </a>
        </div>
    {% endif %}

    <div class="container">
        {% for autor in autori_list %}
            <div class="obraz">
                <div class="img_container">
                    {% if autor.img %}
                        <img src="/static{{ autor.img.url }}" alt="">
                    {% else %}
                        <img src="/static/media/autori/default.png" alt="">
                    {% endif %}
                </div>

                <div class="info_container">
                    <h2>{{ autor.jmeno }} {{ autor.prijmeni }}</h2>
                    <p><strong>Narozen:</strong> {{ autor.narozen }}</p>
                    {% if autor.umrti %}
                        <p><strong>Zemřel:</strong> {{ autor.umrti }}</p>
                    {% endif %}
                </div>

                <div class="link_container">
                    <a href="{{ autor.id }}">
                        <button>
                            <i class="fas fa-info-circle"></i>
                            Zobrazit podrobnosti
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}
        
    </div>

{% endblock content %}
