@use 'sass:math';

.home_header {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(#fff, 0.5);

    h2 {
        font-size: 70px;
        margin-bottom: 50px;
    }
    
    p {
        font-size: 30px;
    }
}

$triangle-size: 200px;

.home_content {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .content_item {
        width: 100%;
        height: 70vh;
        margin: 20px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .img_container {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            
            padding: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                content: '';
                position: absolute;
                top: -#{$triangle-size};
                left: calc(100% - $triangle-size + 1px);
                width: 0;
                height: 0;

                transform: rotate(-135deg);

                border: $triangle-size solid $main-color;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }

        &:nth-of-type(2n + 2) {
            flex-direction: row-reverse;

            .img_container::after {
                left: auto;
                right: calc(100% - $triangle-size + 1px);
                transform: rotate(135deg);
            }
        }

        .text_container {
            width: 100%;
            height: 100%;
            padding: 40px;

            background-color: $main-color;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a, p {
                color: #fff
            }

            a {
                font-size: 40px;
                margin-bottom: 20px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            p {
                text-align: center;
                font-size: 25px;
                line-height: 1.5;
                font-style: italic;
            }
        }
    }
}