* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0d4a52;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  padding: 100px 0 100px 0;
  position: relative;
  background-image: url("images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
}
body.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: -1;
}

header {
  width: 100%;
  padding: 30px;
  background-color: #0d4a52;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #fff;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header h1 a {
  text-decoration: none;
  color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a, header nav p {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}
header nav a:hover, header nav p:hover {
  background-color: #fff;
  color: #0d4a52;
}
header nav p {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #1b99aa;
}
header nav p:hover {
  background-color: #1b99aa;
  color: #fff;
}

footer {
  width: 100%;
  padding: 30px;
  background-color: #0d4a52;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p {
  color: #fff;
  margin: 0;
}

body.login footer {
  position: absolute;
  bottom: 0;
}

.home_header {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}
.home_header h2 {
  font-size: 70px;
  margin-bottom: 50px;
}
.home_header p {
  font-size: 30px;
}

.home_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_content .content_item {
  width: 100%;
  height: 70vh;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_content .content_item .img_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}
.home_content .content_item .img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_content .content_item .img_container::after {
  content: "";
  position: absolute;
  top: -200px;
  left: calc(100% - 200px + 1px);
  width: 0;
  height: 0;
  transform: rotate(-135deg);
  border: 200px solid #0d4a52;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.home_content .content_item:nth-of-type(2n + 2) {
  flex-direction: row-reverse;
}
.home_content .content_item:nth-of-type(2n + 2) .img_container::after {
  left: auto;
  right: calc(100% - 200px + 1px);
  transform: rotate(135deg);
}
.home_content .content_item .text_container {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #0d4a52;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_content .content_item .text_container a, .home_content .content_item .text_container p {
  color: #fff;
}
.home_content .content_item .text_container a {
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration: none;
}
.home_content .content_item .text_container a:hover {
  text-decoration: underline;
}
.home_content .content_item .text_container p {
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  font-style: italic;
}

form {
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 50px;
  border-radius: 20px;
  background-color: #fff;
}
form.form-novy {
  margin: 50px auto;
  width: 100%;
  max-width: 800px;
  display: block;
}
form.form-novy div {
  display: block;
}
form.form-novy button {
  width: 100%;
}
form.form-novy .img_container {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.form-novy .img_container img {
  max-width: 50%;
}
form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
form h2 {
  font-size: 30px;
  margin-bottom: 0;
}
form hr {
  width: 100%;
  margin: 20px 0;
}
form label {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-weight: bold;
}
form .errorlist {
  color: red;
  margin: 10px 0;
}
form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0d4a52;
  margin: 10px 0;
}
form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0d4a52;
  margin: 10px 0;
}
form button {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0d4a52;
  margin: 10px 0;
  background-color: #0d4a52;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
form button:hover {
  background-color: #fff;
  color: #0d4a52;
}

.e404 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.e404 h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
.e404 a {
  text-decoration: none;
  color: #0d4a52;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border: 3px solid #0d4a52;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.e404 a:hover {
  background-color: #0d4a52;
  color: #fff;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.obraz {
  width: 100%;
  padding: 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}
.obraz .img_container {
  width: 150px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.obraz .img_container img {
  max-width: 100%;
  max-height: 100%;
}
.obraz .info_container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.obraz .info_container h2 {
  margin-bottom: 10px;
}
.obraz .info_container p {
  margin: 8px 0;
  font-size: 1.2em;
}
.obraz .link_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.obraz .link_container a {
  text-decoration: none;
  color: #0d4a52;
  padding: 10px;
  border: 1px solid #0d4a52;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.obraz .link_container a:hover {
  background-color: #0d4a52;
  color: #fff;
}

.obraz-full-page {
  width: min(100%, 1300px);
  height: 100vh;
  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.obraz-full-page .img_container {
  flex: 1;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.obraz-full-page .img_container img {
  max-width: 100%;
  max-height: 100%;
}
.obraz-full-page .info_container {
  flex: 2;
  padding: 70px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}
.obraz-full-page .info_container h2 {
  margin-bottom: 10px;
  font-size: 40px;
}
.obraz-full-page .info_container p {
  margin: 8px 0;
  font-size: 20px;
}
.obraz-full-page .link_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.obraz-full-page .link_container a {
  text-decoration: none;
  color: #0d4a52;
  padding: 10px;
  border: 1px solid #0d4a52;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.obraz-full-page .link_container a:hover {
  background-color: #0d4a52;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */